numpy==1.14.3
scipy==1.1.0
setuptools>=38.5.1
ccxt==1.13.76
six==1.10.0
pytz==2017.2
munch==2.1.1
pypandoc==1.4
logutils==0.3.5
requests==2.18.4
aiohttp==3.0.5
ta==0.1.5
sqlite3worker==1.1.7
mock==2.0.0
boto3==1.7.40
awscli==1.15.59
python-dateutil
deribit-api
multiprocessing-logging
jupyter
